MODES=[{"measure":"https://metrics.operas-eu.org/obp/downloads/v1","name":"download","regex":["https:\\/\\/www\\.openbookpublishers\\.com\\/10.\\d{4,9}/[-._;()/:A-Z0-9]+\\.pdf"]},{"measure":"tag:operas.eu,2018:readership:obp-html","name":"htmlreader","regex":["^(?!.*(\\.png|\\.css|\\.json|\\.js|\\.jpg|\\.ttf|\\.otf|\\.mp3|\\.mp4|\\.ttc)$)https:\\/\\/www\\.openbookpublishers\\.com\\/htmlreader\\/(?:[0-9]{3}-)?[0-9]{1,5}-[0-9]{1,7}-[0-9]{1,6}-[0-9]"]}]
EXCLUDED_IPS=["8.8.8.8", "9.9.9.9"]
EXCLUDED_URLS=["https://malformed_url.com"]
LOGDIR=/logs
OUTDIR=/usr/src/app/output
CACHEDIR=/usr/src/app/cache
URL_PREFIX=https://www.openbookpublishers.com
SESSION_TIMEOUT=1800
ROLLOVER=true
URI_API_ENDP=https://identifier.translation.service/translate
AUTH_API_ENDP=https://authentication.service/auth
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
URI_SCHEME=info:doi
URI_STRICT=false
CUTOFF_DAYS=3
